@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Archivo+Narrow:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Archivo+Narrow:ital@1&family=Lato:ital@0;1&family=Rubik+Glitch&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    height:100vh; 
    margin:0;
    display:flex; 
    flex-direction:column; 
}

main{
    margin: 200px;
    align-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.cabecalho{
    background-color:#660B03;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
}

.cabecalho-imagem{
    height: 80px;
    margin-left: 0px;
}

.cabecalho-menu{
    display: flex;
    gap: 50px;
}
.cabecalho-menu-item{
    font-family: 'Archivo Narrow', sans-serif;
    color:white;
    font-size: 25px;
    font-weight: 80px;
    padding: 20px;
}

.cabecalho-menu-item:hover{
    background-color: #911c12;
}

/* PÁGINA HOME */

.conteudo{
    padding-top: 0px;
    padding-bottom: 100px;
}

.conteudo-principal {
    padding-top: 45px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.conteudo-principal-titulo{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
}

.conteudo-principal-subtitulo{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding-top: 10px;
}

.conteudo-principal-imagem{
    height: 400px;
    float: right;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-top: 50px;
}

.conteudo-principal-paragrafo{
    padding-left: 50px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.conteudo-secundario{
    padding-left: 50px;
    padding-bottom: 200px;
    padding-top: 90px;
}

.conteudo-secundario-titulo{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
}

.conteudo-secundario-imagem{
    height: 340px;
    float: right;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-top: 50px;
}

.conteudo-secundario-paragrafo{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.conteudo-ternario{
    padding-left: 50px;
    padding-bottom:100px;
    padding-top: 10px;
}

.conteudo-ternario-titulo{
    padding-top: 85px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
}

.conteudo-ternario-lista-ordenada{
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding-left: 30px;
}

.conteudo-ternario-lista-imagem{
    height: 250px;
    float: right;
    padding-right: 50px;
    padding-top: 0px;
}

.conteudo-quaternario{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-top: 45px;
}

.conteudo-quaternario-titulo{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
}

.conteudo-quaternario-subtitulo{
    font-family: 'Lato', sans-serif;    
    font-size: 25px;
    padding-bottom: 40px;
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center; 
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #660B03;
    color: white;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.conteudo-quaternario-tabela-tr-th{
    font-family: 'Lato', sans-serif;
}

.conteudo-quaternario-tabela-tr-td{
    font-family: 'Lato', sans-serif;
}

tr:nth-child(even) {background-color: #fffafa}
tr:hover {background-color: #ddd;}

.conteudo-quaternario-tabela-obs{
    padding-top: 10px;
    float: right;
    font-family: 'Lato', sans-serif;
}

.imagens-ilustrativas{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    height: 360px;
    gap: 135px;
    padding-bottom: 100px;
}

.imagens-ilustrativas>img{
    border:solid 1px;
    border-radius: 10px;
}

.imagens-ilustrativas-titulo{
    padding-top: 50px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
/* PÁGINA HOME */

/* PÁGINA FALE CONOSCO  */

.fale-conteudo-primario{
    margin-right: 300px;
    margin-left: 300px;
    padding-top: 50px;
    font-family:'Lato', sans-serif;
}

fieldset{
    border:none;
}

.dados-pessoais{
    font-size: 20px;
    font-family:'Lato', sans-serif;
}

.dados-pessoais-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-right: 15px;
}

.dados-pessoais-input{
    border: 1px solid;
    border-radius: 10px;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}


.comentario{
    padding-top: 30px;
    padding-bottom: 30px;
}

.novidades{
    padding-top: 10px;
    text-align: center;
}

.input-novidade{
    display: flex;
    justify-content: center;
    gap: 15px;
}

textarea{
    border: 1px solid;
    border-radius: 10px;
    font-size: 18px;
    font-family:'Lato', sans-serif;
    border-style: solid;
    resize: none;
    width: 100%;
    padding: 10px;
    height: 150px;
}

input[type=submit], input[type=reset] {
    background-color: #660B03;
    border: 1px solid;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:hover {
      background-color: #911c12 ;
}

input[type=reset]:hover {
    background-color: #911c12 ;
}

.botoes{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}
/* PÁGINA FALE CONOSCO */

/* PÁGINA CADASTRO */
.split-screen{
    display: flex;
    gap: 200px;
    padding-bottom: 80px;
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}

.cadastrar-dados-pessoais{
    font-family: 'Lato', sans-serif;   
}

 .cadastrar-div{
     font-size: 20px;
     text-align: center;
}

.cadastrar-input{
    border: 1px solid;
    border-radius: 10px;
    font-size: 15px;
    height: 50px;
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}

.cadastrar-marcacoes{
    padding-top: 50px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 70px;
}

.cadastrar-marcacoes-input{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
    align-items: center;
}

.botoes-cadastrar{
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}
/* PÁGINA CADASTRO */

footer{
    position:relative;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 10px; 
    background-color: #660B03;
    margin-top:auto; 
}

.conteudo-rodape-logo{
    padding-left: 350px;
    align-content: center;
    height: 80px;
    padding-bottom: 10px;
}

.conteudo-rodape-credito{
    padding-right: 350px;
    padding-top: 25px;
    color:#E1E3E3;
    font-size: 15px;
    font-family: 'Archivo Narrow', sans-serif;
}