@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Archivo+Narrow:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Archivo+Narrow:ital@1&family=Lato:ital@0;1&family=Rubik+Glitch&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    height:100vh; 
    margin:0;
    display:flex; 
    flex-direction:column; 
}

main{
    margin: 200px;
    align-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.cabecalho{
    background-color:#660B03;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.cabecalho-imagem{
    height: 72px;
    margin-left: 0px;
}

.cabecalho-menu{
    display: flex;
    gap: 50px;
}
.cabecalho-menu-item{
    font-family: 'Archivo Narrow', sans-serif;
    color:white;
    font-size: 25px;
    font-weight: 80px;
}

.conteudo{
    padding-top: 0px;
    padding-bottom: 100px;
    /* background-color:#B0C9BA; */
}

.conteudo-principal {
    padding-top: 43px;
    padding-left: 50px;
    padding-bottom: 100px;
}

.conteudo-principal-titulo{
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
}

.conteudo-principal-subtitulo{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding-top: 10px;
}

.conteudo-principal-imagem{
    height: 400px;
    float: right;
    padding-bottom: 100px;
    padding-right: 50px;
    padding-top: 50px;
    
}

.conteudo-secundario{
    padding-left: 50px;
    /* background-color: #B6A3C4; */
    padding-bottom: 200px;
    padding-top: 43px;
}

.conteudo-secundario-titulo{
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
}

.conteudo-secundario-lista-ordenada{
    padding-top: 20px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    padding-left: 30px;
}

.conteudo-secundario-lista-imagem{
    height: 250px;
    float: right;
    padding-right: 50px;
    padding-top: 10px;
}

.conteudo-ternario{
    padding-left: 50px;
    /* background-color: #C4BFB7; */
    padding-bottom: 200px;
    padding-top: 43px;
}

.conteudo-ternario-titulo{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
    padding-bottom: 20px;
}

.conteudo-ternario-subtitulo{
    font-family: 'Lato', sans-serif;    
    font-size: 25px;
    padding-bottom: 40px;
}

table{
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}
th {
    text-align: center; 
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #660B03;
    color: white;
}

td, th {

    border: 1px solid #ddd;
    padding: 8px;
}

.conteudo-ternario-tabela-tr-th{
    font-family: 'Lato', sans-serif;
}

.conteudo-ternario-tabela-tr-td{
    font-family: 'Lato', sans-serif;
}

tr:nth-child(even) {background-color: #ffefee}
tr:hover {background-color: #ddd;}


footer{
    position:relative;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 20px; 
    background-color: #660B03;
    margin-top:auto; 
}
.conteudo-rodape-logo{
    padding-left: 350px;
    align-content: center;
}
.conteudo-rodape-credito{
    padding-right: 350px;
    padding-top: 10px;
    color:#E1E3E3;
    font-size: 15px;
    font-family: 'Archivo Narrow', sans-serif;
}